In [2]:
import pandas as pd
import os

In [11]:
baseDir = '/Users/mcassettix/Documents/csv_files'
files = os.listdir(baseDir)

In [40]:
from itertools import chain
def list_join(*lists):
    tot_df = pd.DataFrame()
    for ll in lists:
        tot_df = pd.concat([tot_df,ll],axis=1)
    return tot_df

In [12]:
files = files[1:3]

In [13]:
files

['Coinbase-52cf9509ca30a7c98a00003b-TaxTransactionsReport-2018-11-02-16_18_24.csv',
 'coindesk-bpi-USD-close_data-2014-07-01_2014-07-02.csv']

In [14]:
df1 = pd.read_csv(baseDir + '/' +  files[0])
df2 = pd.read_csv(baseDir + '/' + files[1])

In [15]:
df1.head()

,Transactions,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,User,cassetti.martha@gmail.com,52cf9509ca30a7c98a00003a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Timestamp,Transaction Type,Asset,Quantity Transacted,USD Spot Price at Transaction,USD Amount Transacted (Inclusive of Coinbase F...,Address,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2/3/14,Buy,BTC,0.02,811.08,16.22,NaN,Bought 0.02 BTC for $16.15. \n\nPaid for with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2/28/14,Buy,BTC,0.5,563.09,281.55,NaN,Bought 0.50 BTC for $306.49. \n\nPaid for wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df2.head()

                  Date  Close Price
0  2014-07-01 00:00:00       639.36
1  2014-07-01 00:01:00       639.80
2  2014-07-01 00:02:00       641.04
3  2014-07-01 00:03:00       641.94
4  2014-07-01 00:04:00       643.04

In [41]:
test = list_join(df1, df2)

In [42]:
df1.columns

Index(['Transactions', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

Index(['Date', 'Close Price'], dtype='object')

In [61]:
class SupremeBullShit:
    def __init__(self):
        pass
    def add_to_things(self, a, b):
        return a + b
class LameO:
    def __init__(self):
        self.bs = SupremeBullShit()
    def testMyShit(self, *dataframes):
        tot_df = pd.DataFrame()
        for df in dataframes:
            tot_df = pd.concat([tot_df, df],axis=1)
        return tot_df

In [62]:
lo = LameO()

In [63]:
lo.testMyShit(df1,df2)

,Transactions,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Date,Close Price
0,User,cassetti.martha@gmail.com,52cf9509ca30a7c98a00003a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:00:00,639.36
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:01:00,639.80
2,Timestamp,Transaction Type,Asset,Quantity Transacted,USD Spot Price at Transaction,USD Amount Transacted (Inclusive of Coinbase F...,Address,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:02:00,641.04
3,2/3/14,Buy,BTC,0.02,811.08,16.22,NaN,Bought 0.02 BTC for $16.15. \n\nPaid for with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:03:00,641.94
4,2/28/14,Buy,BTC,0.5,563.09,281.55,NaN,Bought 0.50 BTC for $306.49. \n\nPaid for wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:04:00,643.04
5,2/28/14,Buy,BTC,1,545.31,545.31,NaN,Bought 1.00 BTC for $508.18. \n\nPaid for wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:05:00,642.78
6,2/28/14,Buy,BTC,0.5,563.13,281.57,NaN,Bought 0.50 BTC for $280.43. \n\nPaid for wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:06:00,643.61
7,2/28/14,Send,BTC,0.001,564.14,0.56,1AuujfmSfFHLVP9amnJbf4LhWk46JTWjF2,Sent to 1AuujfmSfFHLVP9amnJbf4LhWk46JTWjF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:07:00,644.91
8,3/3/14,Buy,BTC,1,686.05,686.05,NaN,Bought 1.00 BTC for $580.95. \n\nPaid for wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:08:00,644.32
9,3/5/14,Buy,BTC,1,676.7,676.7,NaN,Bought 1.00 BTC for $587.36. \n\nPaid for wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:09:00,645.31
10,3/7/14,Buy,BTC,3,631.85,1895.55,NaN,"Bought 3.00 BTC for $2,103.45. \n\nPaid for w...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:10:00,645.59
11,3/12/14,Buy,BTC,2,637.45,1274.9,NaN,"Bought 2.00 BTC for $1,332.64. \n\nPaid for w...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:11:00,645.64
12,4/15/14,Buy,BTC,1,518.03,518.03,NaN,Bought 1.00 BTC for $442.50. \n\nPaid for wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:12:00,645.26
13,8/13/14,Buy,BTC,0.5,535.01,267.51,NaN,Bought 0.50 BTC for $270.24.\n\nPaid for with ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:13:00,645.24
14,9/19/14,Buy,BTC,0.501,395.9,198.35,NaN,Bought 0.501 BTC for $200.83.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:14:00,645.31
15,9/19/14,Buy,BTC,0.5,395.74,197.87,NaN,Bought 0.50 BTC for $200.15.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:15:00,645.70
16,9/19/14,Buy,BTC,0.05,395.76,19.79,NaN,Bought 0.05 BTC for $20.15.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:16:00,644.82
17,9/19/14,Buy,BTC,0.05,395.76,19.79,NaN,Bought 0.05 BTC for $20.14.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:17:00,643.34
18,9/20/14,Buy,BTC,0.15,407.96,61.19,NaN,Bought 0.15 BTC for $61.95.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:18:00,642.89
19,9/20/14,Buy,BTC,0.15,409.68,61.45,NaN,Bought 0.15 BTC for $62.18.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:19:00,643.66
20,9/20/14,Buy,BTC,0.1,397.04,39.7,NaN,Bought 0.10 BTC for $40.32.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:20:00,643.78
21,9/27/14,Buy,BTC,0.1,402.5,40.25,NaN,Bought 0.10 BTC for $40.87.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:21:00,643.22
22,9/28/14,Buy,BTC,0.4,380.24,152.1,NaN,Bought 0.40 BTC for $154.50.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:22:00,643.52
23,10/2/14,Buy,BTC,1.5,374.62,561.93,NaN,Bought 1.50 BTC for $567.79.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:23:00,643.87
24,10/4/14,Buy,BTC,1,337.06,337.06,NaN,Bought 1.00 BTC for $346.48.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:24:00,644.19
25,10/4/14,Buy,BTC,0.1,337.58,33.76,NaN,Bought 0.10 BTC for $34.25.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:25:00,644.01
26,10/5/14,Buy,BTC,0.9,308.7,277.83,NaN,Bought 0.90 BTC for $272.88.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:26:00,643.17
27,1/14/15,Buy,BTC,3.83481508,205.7,788.82,NaN,Bought 3.83481508 BTC for $800.00 USD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:27:00,642.68
28,1/22/15,Sell,BTC,2,235.24,465.78,NaN,Sold 2.00 BTC for $465.78 USD.\n\nPayment will...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:28:00,643.20
29,10/30/15,Buy,BTC,0.44391423,334.55,150,NaN,Bought 0.44391423 BTC for $150.00 USD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01 00:29:00,642.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:32:00,646.79
2853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:33:00,646.76
2854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:34:00,646.92
2855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:35:00,647.16
2856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:36:00,647.18
2857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:37:00,647.44
2858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:38:00,647.34
2859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:39:00,648.37
2860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:40:00,648.24
2861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:41:00,648.10
2862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:42:00,647.99
2863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:43:00,648.13
2864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:44:00,648.10
2865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:45:00,647.71
2866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:46:00,647.88
2867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:47:00,647.64
2868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:48:00,647.58
2869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:49:00,647.62
2870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:50:00,647.66
2871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:51:00,647.61
2872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:52:00,647.56
2873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:53:00,647.60
2874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:54:00,647.56
2875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:55:00,647.62
2876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:56:00,647.49
2877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:57:00,647.50
2878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:58:00,647.55
2879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-02 23:59:00,647.55
2880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,This data was produced from the CoinDesk Bitco...,NaN
2881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.coindesk.com/price/,NaN